/**
 * Created by pierreolivier on 12/04/16.
 */
var disrespect = require('./lib/bot.disrespect');

var configuration = {};

configuration.discord = {};
configuration.discord.tts = 'https://URL/index.php?method=redirect&';
configuration.discord.google = 'server api key';
configuration.discord.wiki = {};
configuration.discord.wiki.host = 'fr.wikipedia.org';
configuration.discord.wiki.random = '/wiki/Sp%C3%A9cial:Page_au_hasard';

configuration.bots = [];

var bamboula = {};
bamboula.token = 'TOKEN';
bamboula.init = function(bot) {
    bot.api.joinVoiceChannel('102400143973711872', 'La plèbe');
};
bamboula.onUserConnected = function(bot, user) {
    bot.api.sendMessage('102400143973711872', 'general', 'bonjour ' + user.username);
    bot.features.tts('Moussa', user.username + ' est de retour !');
};
bamboula.voiceConnected = function(bot) {
    bot.features.tts('Moussa', 'Bonjour !');
};
bamboula.onNewVoiceUser = function(bot, username) {
    bot.features.tts('Moussa', 'Salut ' + username + ' !');
};
bamboula.onNotifyVoice = function(bot, channelName, username) {
    bot.api.sendMessage('102400143973711872', 'voice_stalker', username + ' just joined ' + channelName);
};
bamboula.onWiki = function(bot, text, url) {
    bot.features.tts('Moussa', text);
    bot.api.sendMessage('102400143973711872', 'bot_youtube', url);
};
bamboula.filter = {};
bamboula.filter.meme = {};
bamboula.filter.meme.compare = function(bot, e) {
    return e.message.channel_id == '102400143973711872';
};
bamboula.filter.meme.deny = function(bot, e) {
    bot.features.meme(e, 'non chien', 'assets/po.jpg', '#ffffff', 20, 320);
};
bamboula.commands = [
    {
        name: ['/help', '/bot'],
        handle: function(bot, args) {
            return bot.api.commands();
        }
    }, {
        name: '/list disrespect',
        handle: function(bot, args) {
            return disrespect.getDisrespectDatabase().join(', ');
        }
    }, {
        name: '/join',
        handle: function(bot, args, guild) {
            bot.api.joinVoiceChannel(guild.id, args);
            setTimeout(function() {
                bot.features.tts('Moussa', 'Salut les gars !');
            }, 400);
            return '';
        }
    }, {
        name: '/leave',
        handle: function(bot, args) {
            bot.api.leaveVoiceChannel();
            return '';
        }
    }, {
        name: '/bamboula',
        removeMessage: true,
        handle: function(bot, args) {
            bot.features.tts('Moussa', args);

            return '';
        }
    }, {
        name: '/moussa',
        removeMessage: true,
        handle: function(bot, args) {
            bot.features.tts('Mendoo', args);

            return '';
        }
    }, {
        name: '/beyonce',
        removeMessage: true,
        handle: function(bot, args) {
            bot.features.tts('Melodine', args);

            return '';
        }
    }, {
        name: '/cool',
        removeMessage: true,
        handle: function(bot, args) {
            bot.features.tts('Becool', args);

            return '';
        }
    }, {
        name: '/tg',
        handle: function(bot, args) {
            bot.features.stopTts();
            bot.api.stopVoice();
            return '';
        }
    }, {
        name: '/wiki',
        removeMessage: true,
        handle: function(bot, args) {
            bot.features.wikipedia(args);
            return '';
        }
    }
];
bamboula.meme = [
    {
        name: '/victime',
        image: 'assets/vincent.jpg',
        textColor: '#ffffff',
        x: 40,
        y: 280
    },{
        name: '/champignon',
        image: 'assets/boris.jpg',
        textColor: '#ffffff',
        x: 20,
        y: 100
    },{
        name: '/lunettes',
        image: 'assets/pier.jpg',
        textColor: '#ffffff',
        x: 20,
        y: 360
    },{
        name: '/gros',
        image: 'assets/dybs.jpg',
        textColor: '#ffffff',
        x: 20,
        y: 230
    },{
        name: '/disrespect',
        image: 'assets/po.jpg',
        textColor: '#ffffff',
        x: 20,
        y: 320,
        handleText: function(bot, text) {
            if (text.indexOf('--force') != -1) {
                return text.replace('--force', '');
            } else {
                return disrespect.addAndGetDisrespect(text);
            }
        }
    }
];
configuration.bots.push(bamboula);

var music = {};
music.token = 'TOKEN';
music.init = function(bot) {
    bot.api.joinVoiceChannel('102400143973711872', 'La plèbe');
};
music.voiceConnected = function(bot) {
    bot.features.tts('Melodine', 'Bonjour !');
};
music.onYoutube = function(bot, url) {
    bot.api.sendMessage('102400143973711872', 'bot_youtube', url);
};
music.commands = [
    {
        name: ['/help', '/bot'],
        handle: function(bot, args) {
            return bot.api.commands();
        }
    }, {
        name: '/join',
        handle: function(bot, args, guild) {
            bot.api.joinVoiceChannel(guild.id, args);
            setTimeout(function() {
                bot.features.tts('Melodine', 'Salut les gars !');
            }, 400);
            return '';
        }
    }, {
        name: '/leave',
        handle: function(bot, args) {
            bot.api.leaveVoiceChannel();
            return '';
        }
    }, {
        name: '/youtube',
        removeMessage: true,
        handle: function(bot, args) {
            bot.features.youtube(args);

            return '';
        }
    }, {
        name: '/tg',
        handle: function(bot, args) {
            bot.api.stopVoice();
            return '';
        }
    }
];
configuration.bots.push(music);

module.exports = configuration;